[submodule "regression_tests"]
	path = regression_tests
	url = git@gitlab.vlsi.huji.cloud:freddy.gabbay/riscv-grid.git
[submodule "pulp-runtime"]
	path = pulp-runtime
	url = git@gitlab.vlsi.huji.cloud:freddy.gabbay/riscv-grid.git
